<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Arda - Bitcoin and Cryptocurrency ICO Template</title>
	<meta name="description" content="Arda is a Bitcoin and Cryptocurrency ICO Template by tempload." />
	<meta name="keywords" content="bitcoin, ethereum, monero, ico, token, free token, btc, eth" />
	<meta name="author" content="tempload"/>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="assets/images/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="assets/css/green.css?v=1.4.0" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="loading-wrapper">
		<div class="loading">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>	

	<!-- ***** Header Area Start ***** -->
	<header class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-12 position-relative">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="index.html" class="logo">
							<img src="assets/images/logos/transparent-logo-green.svg" class="light-logo" alt="Arda ICO"/>
							<img src="assets/images/logos/white-logo-green.svg" class="dark-logo" alt="Arda ICO"/>
						</a>
						<!-- ***** Logo End ***** -->

						<!-- ***** Lang Start ***** -->
						<div class="lang">
							<div class="selected">
								<img src="assets/images/flags/en.png" alt="">
								<i class="fa fa-angle-down"></i>
							</div>
							<ul class="flag-list">
								<li>
									<a href="#">
										<img src="assets/images/flags/en.png" alt=""><span>EN</span>
									</a>
								</li>	
								<li>
									<a href="#">
										<img src="assets/images/flags/ru.png" alt=""><span>RU</span>
									</a>
								</li>	
								<li>
									<a href="#">
										<img src="assets/images/flags/br.png" alt=""><span>BR</span>
									</a>
								</li>	
							</ul>
						</div>
						<!-- ***** Lang End ***** -->

						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li><a href="green-block-explorer.html">BLOCKCHAIN HOME</a></li>
							<li><a href="green-block-explorer-latest-blocks.html">LATEST BLOCKS</a></li>
							<li><a href="green-block-explorer-rich-list.html">RICH LIST</a></li>
							<li><a href="#" class="btn-nav-box">SIGN UP</a></li>
						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->						
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->

	<!-- ***** Wellcome Area Start ***** -->
	<section class="block-explorer-wrapper bg-bottom-center" id="welcome-1">
		<div class="block-explorer text">
			<div class="container text-center">
				<div class="row">
					<div class="col-lg-12 align-self-center">
						<h1>Blockchain Explorer</h1>
					</div>
					<div class="offset-lg-3 col-lg-6">
						<p>Up To Block 1883224</p>
					</div>
				</div>
			</div>
		</div>
		<div class="search">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="input-wrapper">
							<div class="input">
								<input type="text" placeholder="block, hash, transaction, etc...">
								<button><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<!-- ***** Wellcome Area End ***** -->

	<section class="block-explorer-section section bg-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">Rich List</h2>
					</div>
				</div>
				<div class="offset-lg-3 col-lg-6">
					<div class="center-text">
						<p>Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat.</p>
					</div>					
				</div>
			</div>			
			<div class="row">
				<div class="col-lg-12">
					<div class="table-responsive">
						<table class="table table-striped table-latests">
							<thead>
								<tr>
									<td>Rank</td>
									<td>Address</td>
									<td>Amount</td>
									<td>Percent of coins</td>
									<td>Last Change</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>
										<a href="green-block-explorer-address-detail.html">ENPz6djYEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>26,246,539<small>.78</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="12.10"></div>
											<span>12.10 %</span>
										</div>
									</td>
									<td>1 day 1 hour </td>
								</tr>
								<tr>
									<td>2</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EJqhGuaZEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>22,749,265<small>.68</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="10.49"></div>
											<span>10.49 %</span>
										</div>
									</td>
									<td>107 days 7 hours </td>
								</tr>
								<tr>
									<td>3</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EN8ZsnZxEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>11,306,453<small>.85</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="5.21"></div>
											<span>5.21 %</span>
										</div>
									</td>
									<td>12 hours 49 minutes </td>
								</tr>
								<tr>
									<td>4</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EJGwcsFJEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>10,280,069<small>.84</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="4.74"></div>
											<span>4.74 %</span>
										</div>
									</td>
									<td>132 days 15 hours </td>
								</tr>
								<tr>
									<td>5</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EcGbgDMaEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>8,355,004<small>.71</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="3.85"></div>
											<span>3.85 %</span>
										</div>
									</td>
									<td>15 days 4 hours </td>
								</tr>
								<tr>
									<td>6</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EeqtWnXhEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>6,349,729<small>.04</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="2.93"></div>
											<span>2.93 %</span>
										</div>
									</td>
									<td>140 days 17 hours </td>
								</tr>
								<tr>
									<td>7</td>
									<td>
										<a href="green-block-explorer-address-detail.html">ES74F6x9EuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>5,994,650<small>.48</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="2.76"></div>
											<span>2.76 %</span>
										</div>
									</td>
									<td>3 years 129 days </td>
								</tr>
								<tr>
									<td>8</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EW4gCpCKEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>5,986,972<small>.51</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="2.76"></div>
											<span>2.76 %</span>
										</div>
									</td>
									<td>140 days 17 hours </td>
								</tr>
								<tr>
									<td>9</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EKc3wNgPEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>5,469,405<small>.61</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="2.52"></div>
											<span>2.52 %</span>
										</div>
									</td>
									<td>1 day 21 hours </td>
								</tr>
								<tr>
									<td>10</td>
									<td>
										<a href="green-block-explorer-address-detail.html">ERe8z4MUEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>4,998,194<small>.13</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="2.30"></div>
											<span>2.30 %</span>
										</div>
									</td>
									<td>140 days 17 hours </td>
								</tr>
								<tr>
									<td>11</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EVaMzjxuEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>4,986,746<small>.94</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="2.30"></div>
											<span>2.30 %</span>
										</div>
									</td>
									<td>140 days 17 hours </td>
								</tr>
								<tr>
									<td>12</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EQQouXobEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>4,537,030<small>.79</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="2.09"></div>
											<span>2.09 %</span>
										</div>
									</td>
									<td>140 days 17 hours </td>
								</tr>
								<tr>
									<td>13</td>
									<td>
										<a href="green-block-explorer-address-detail.html">Eeo5w2wAEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>3,556,609<small>.47</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="1.64"></div>
											<span>1.64 %</span>
										</div>
									</td>
									<td>1 day 1 hour </td>
								</tr>
								<tr>
									<td>14</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EYcZPFPUEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>3,157,483<small>.57</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="1.46"></div>
											<span>1.46 %</span>
										</div>
									</td>
									<td>140 days 16 hours </td>
								</tr>
								<tr>
									<td>15</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EfZSHAioEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>2,403,481<small>.14</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="1.11"></div>
											<span>1.11 %</span>
										</div>
									</td>
									<td>206 days 7 hours </td>
								</tr>
								<tr>
									<td>16</td>
									<td>
										<a href="green-block-explorer-address-detail.html">ENm5teDxEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>2,301,744<small>.52</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="1.06"></div>
											<span>1.06 %</span>
										</div>
									</td>
									<td>15 days 13 hours </td>
								</tr>
								<tr>
									<td>17</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EKnqTC9XEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>2,093,932<small>.11</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="0.97"></div>
											<span>0.97 %</span>
										</div>
									</td>
									<td>4 hours 53 minutes </td>
								</tr>
								<tr>
									<td>18</td>
									<td>
										<a href="green-block-explorer-address-detail.html">Ea2ebwonEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>1,314,831<small>.33</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="0.61"></div>
											<span>0.61 %</span>
										</div>
									</td>
									<td>348 days 2 hours </td>
								</tr>
								<tr>
									<td>19</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EccmLBtnEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>1,180,335<small>.85</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="0.54"></div>
											<span>0.54 %</span>
										</div>
									</td>
									<td>348 days 2 hours </td>
								</tr>
								<tr>
									<td>20</td>
									<td>
										<a href="green-block-explorer-address-detail.html">EQfgCBdfEuucZEhD3miDGnbJxBptcxhByA</a>
									</td>
									<td>1,140,579<small>.42</small> ARD</td>
									<td>
										<div class="table-progress">
											<div class="progress-line" data-value="0.53"></div>
											<span>0.53 %</span>
										</div>
									</td>
									<td>344 days 6 hours </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- ***** Contact & Footer Start ***** -->
	<footer id="contact">
		<div class="footer-bottom slim">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="copyright">2021 © Arda theme by Tempload</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Contact & Footer End ***** -->


	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="assets/js/particles.min.js"></script>
	<script src="assets/js/scrollreveal.min.js"></script>
	<script src="assets/js/jquery.downCount.js"></script>
	<script src="assets/js/parallax.min.js"></script>

	<!-- Global Init -->
	<script src="assets/js/particle-green.js"></script>
	<script src="assets/js/custom.js"></script>
</body>
</html>